/* nav icon */
.nav-icon {
    display: block;
    width: 24px;
    cursor: pointer;
}
.nav-icon span {
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: #E91B1E;
}
.nav-icon span:first-child {
    margin-bottom: 8px;
}
.nav-icon span:last-child {
    margin-top: 8px;
}

.nav-btn {
    display: none;
    /* display: flex; */
    position: fixed;
    right: 26px;
    bottom: 26px;
    z-index: 20;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #E91B1E;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .9;
    transition: opacity 400ms ease-out;
    box-shadow: 0 10px 20px rgba(233, 27, 30, .3);
}
.nav-btn:hover {
    opacity: 1;
}
.nav-btn .nav-icon {
    margin-left: auto;
    margin-right: auto;
}
.nav-btn span {
    background-color: white;
}

@media only screen and (max-width: 960px) {
    .nav-btn {
        display: flex;
    }
}

/* header */
.header {
    position: relative;
    z-index: 10;
}

.header-wrapper {
    position: relative;
    background-color: white;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, .14); */
    z-index: 1;
}

.header-box {
    position: relative;
    box-sizing: border-box;
}

.header-section {
    position: relative;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
}

.header-top {
    position: relative;
    padding-top: 20px;
    margin-bottom: 8px;

    display: flex;
    align-items: flex-end;
}
.header-info {
    flex: 1;
    display: flex;
    align-items: center;
}
.info-datetime {
    position: relative;
    margin: 0 36px;
    font-size: 0;
    white-space: nowrap;
}
.info-datetime span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    font-size: 12px;
    line-height: 1.1667;
    font-family: 'SemanaSans-Regular';
}
.header-brand {
    flex: 0 0 auto;
    width: 215px;
}
.header-brand svg {
    margin-bottom: 0;
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    fill: #E91B1E;
}

.header-panel {
    display: flex;
    flex: 1;
    text-align: right;
    align-self: center;
    justify-content: flex-end;
}
.panel-item {
    display: block;
    padding: 0 12px;
    box-sizing: border-box;
}
.panel-item span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.1667;
    color: #707070;
    font-family: 'SemanaSans-Medium';
}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navbar {
    flex-grow: 1;
    display: flex;
}
.navbar-item {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 25px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}
.navbar-item:first-child {
    margin-left: 0;
    padding-left: 0;
}
.navbar-item:last-child {
    margin-right: 0;
    padding-right: 0;
}
.navbar-item:focus,
.navbar-item:active {
    outline: none;
}
.navbar-item:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -1px;
    height: 1px;
    background-color: #E91B1E;
    transition: all 300ms ease-out;
}
.navbar-item.active:before,
.navbar-item:hover:before {
    right: 0;
}

.navbar-item span {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'SemanaSans-Medium';
    font-size: 17px;
    line-height: 1.1765;
    color: #707070;
    transition: all 300ms ease-out;
}

.navbar-item.active span, 
.navbar-item:hover span {
    color: #E91B1E;
}

.header-toolbar {
    flex-grow: 1 ;
    text-align: right;
}
.toolbar-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 34px;
    cursor: pointer;
    text-decoration: none;
    color: #9D9D9D;
    white-space: nowrap;
}
.toolbar-item:active {
    outline: none;
}
.toolbar-item:first-child {
    margin-left: 0;
}

.toolbar-item.active,
.toolbar-item:hover {
    color: black;
}

.toolbar-item span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 12px;
    line-height: 1.1667;
    text-decoration: none;
    transition: all 300ms ease-out;
    font-family: 'SemanaSans-Medium';
}

.toolbar-item .icon {
    display: inline-block;
    vertical-align: middle;
}

.header-subnav {
    position: relative;
    padding: 16px 0;
    box-sizing: border-box;
}

.header-list {
    display: flex;
    align-items: center;
}
.list-item {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    font-family: 'SemanaSans-Regular';
    font-size: 12px;
    line-height: 1.1667;
    white-space: nowrap;
}
.list-item strong {
    color: black;
    text-decoration: none;
    font-family: 'SemanaSans-Bold';
}
.list-item span {
    display: block;
    padding: 0 10px;
    color: #989898;
    text-decoration: none;
    transition: all 300ms ease-out;
    font-family: 'SemanaSans-Medium';
}

.list-item span.active,
.list-item span:hover {
    color: black;
}

.header-box .header-drop {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

.header-drop {
    position: relative;
    background-color:white;
    z-index: 1;
}

.header-drop.drop-plus {
    display: none;
}

.header-drop.drop-menu {
    display: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .14);
    z-index: 5;
}

.drop-menu  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.drop-section {
    position: relative;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
    box-sizing: border-box;
}
.drop-row {
    margin: 0 -10px;
    display: flex;
}

.drop-col {
    padding: 0 10px;
    width: 160px;
    box-sizing: border-box;
}

.header-link {
    display: block;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.23;
    font-family: 'SemanaSans-Regular';
    transition: all 300ms ease-out;
    color: #707070;
    white-space: nowrap;
}

.header-link.active ,
.header-link:hover {
    font-family: 'SemanaSans-Bold';
}

.header-link.link-black {
    font-family: 'SemanaSans-Medium';
    color: black;
}
.header-link.link-red {
    font-family: 'SemanaSans-Medium';
    color: #E91B1E;
}

.header-filter {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: black;
    background-color: rgba(70, 70, 70, .5);
    backdrop-filter: blur(7px);
    opacity: .5;
}

.header-social {
    display: flex;
    align-items: center;
    line-height: 22px;
    padding: 8px 0;
    text-decoration: none;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E91B1E;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

.social-icon img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-bottom: 0;
}

.social-label {
    text-decoration: none;
    font-size: 18px;
    font-family: 'SemanaSans-Light';
    color: #707070;
}

/* header mobile aside search */
.header-aside {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
}

.header-aside.compact {
    max-width: 330px;
    right: 85px;
}

.aside-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    display: flex;
    
    box-shadow: 0 6px 12px rgba(0, 0, 0, .14);
    background: rgba(255, 255, 255, .9);
    backdrop-filter: blur(12px);
}

.aside-wrap {
    margin: 0 auto;
    max-width: 640px;
    padding: 16px 20px;
    flex-grow: 1;
}

.aside-brand {
    width: 36px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 16px;
}

.aside-nav {
    position: relative;
    margin-bottom: 16px;
}

.aside-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDD;
    text-decoration: none;
    cursor: pointer;
}

.aside-item:focus {
    outline: none;
}

.aside-item span {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    font-family: 'SemanaSans-Regular';
    color: #707070;
    text-decoration: none;
}

.aside-item i.icon {
    display: inline-block;
    vertical-align: middle;
    color: #707070;
    font-size: 12px;
    line-height: 1;
}

.aside-info {}

.aside-social {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.aside-social .social-label {
    font-size: 12px;
    margin-right: 10px;
    line-height: 1;
    font-family: 'SemanaSans-Medium';
}
.aside-social .social-icon {
    border-color: #707070;
    margin-right: 16px;
}
.aside-social .social-icon:last-child {
    margin-right: 0;
}

.aside-tool {
    display: flex;
    padding-top: 10px;
    align-items: center;
    margin-bottom: 40px;
}
.aside-control {
    flex-grow: 1;
}
.aside-input {
    position: relative;
}
.aside-input .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B3B3B2;
}
.aside-input input[type="text"] {
    display: block;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-family: 'SemanaSans-Light';
    font-size: 14px;
    line-height: 1;
    padding: 5px 5px 6px 32px;
    box-sizing: border-box;
}
.aside-input input[type="text"]:focus {
    outline: none;
    border-color: black;
}
.aside-actions {
    flex: 0 0 auto;
    width: 52px;
    text-align: right;
}
.aside-actions .icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: 0;
    color: #E91B1E;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}

.aside-title {
    position: relative;
    margin-bottom: 16px;
    color: #E91B1E;
    font-family: 'SemanaSans-Medium';
    font-size: 12px;
    line-height: 1;
    margin-top: 32px;
}

/* search */
.search-box {
    margin-left: 26px;
    color: #E91B1E;
}

.search-box .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    cursor: pointer;
}

.search-icon {
    position: relative;
    color: #E91B1E;
}
.search-icon.disabled {
    color: #707070;
    opacity: .4;
}
.search-icon .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    cursor: pointer;
}

.search-tool {
    position: relative;
    margin-bottom: 52px;
    display: flex;
    align-items: flex-end;
}

.search-brand {
    width: 45px;
    flex: 0 0 45px;
}

.search-brand svg {
    display: block;
    margin-bottom: 0;
}

.search-control {
    flex: 1 1 auto;
    align-self: stretch;
    padding: 0 20px;
    box-sizing: border-box;
}

.search-control input[type="text"] {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #707070;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'SemanaSans-Regular';
    color: #707070;
}

.search-control input[type="text"]:focus {
    outline: none;
    border-color: black;
}

.search-icon {
    width: 32px;
    flex: 0 0 32px;
}

/* states */
.open .header-filter {
    display: block;
}

.open-plus .drop-plus {
    display: block;
}

.open-menu .drop-menu {
    display: block;
}

@media only screen and (max-width: 960px) {
    .open-extend .drop-menu {
        display: none;
    }
    .open-compact .header-aside.compact,
    .open-menu .header-aside.extend,
    .open-extend .header-aside.extend {
        display: block;
    }
}